body {
      font-family: "Roboto", Arial, sans-serif;
      margin: 0;
    }

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}
    /* PARTS DEL HEADER. Part General + 3 Parts Principals: Esquerra, Central, Dreta. */

    header {
        position: fixed;
        height: 56px;
        background: white;
        width: 100%;
        z-index: 15;
    }

    .header_general {
        padding: 0 16px;
        margin-top: 6px;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .part_esquerra {
        display: flex;
        align-items: center;
        width: 240px;
        gap: 20px;
        margin-bottom: 1px;
    }

    .part_central {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        height: 70%;
    }

    .part_dreta {
        display: flex;
        justify-content: flex-end;
        width: 240px;
        gap: 13px;
        margin-left: auto;
        margin-right: 34px;
    }


    /* Elements Generals del Header                                                   */

    .logo {
        padding-left: 4px;
    }

    .menu {
        padding-left: 8px;
        margin-bottom: 1px;
    }

    .buscador_general {
        display: flex;
        width: 600px;                
        height: 39px; 
        border: 1px solid #c6c6c6;
        border-radius: 24px;         
        overflow: hidden;
        padding-right: 0px;
        margin-right: 14px;
        margin-left: 10px;
        box-sizing: border-box;
    }

    /* Zona de text         */
    .zona_text {
        flex: 1;                     
        display: flex;
        align-items: center;
        padding-left: 16px;
    }

    /* Text de l'interior   */
    .text_interior {
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        color: #333;
        height: 100%;
    }

    /* Botó de la lupa      */
    .lupa {
        width: 64px;                 
        display: flex;
        border-left: 1px solid #d3d3d3;
        border-top: none;
        border-right: none;
        border-bottom: none;
        background-color: #f8f8f8;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .micro {
        margin-top: 3px;
        width: 40px;
        height: 40px;
        padding-right: 25px;
    }

    .crear2 {
        width: 99px;
        height: 95%;
        justify-content: center;
        align-items: center;
        margin-right: 1px;
    }

    .campana_div {
        padding: 5px 16px 0 0;
        margin-top: 2px;
        width: 24px;
        height: 30px;
        position: static;
    }

    .div_perfil {
        margin: 6px 12px 0 1px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;               /* Evita que surti del cercle                           */
    }

    .foto_perfil {
        width: 32px;
        height: 32px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    .part_principal {
        display: flex;
        flex-direction: column;

        position: fixed;
        left: 121px;
        right: 537px;
        top: 80px;

        gap: 9px;
        padding-right: 24.5px;
    }

    .part_principal img {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }

    .descripcio_video {
        width: 100%;
        min-height: 120px;      /* Es veurà millor */
        margin-bottom: 20px;
    }

    .titol_video {
        font-family: "Roboto", Arial, sans-serif;
        font-weight: bold;
        overflow: hidden;
        max-height: 5.6rem;
        line-height: 1.4;

        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .titol_video span {
        color: #0f0f0f;
        font-size: 20px;

        font-family: "Roboto", Arial, sans-serif;
        font-weight: 700;
    }

    .barra_principal {
        margin-top: -4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0 0 0;
        gap: 16px;
        min-height: 56px;
    }

    .info_canal {
        display: flex;
        align-items: center;
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .info_canal .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    .info_canal img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        transform: translateY(-1px);        /* Puja només el logo */
    }

    .info_canal_esquerre {
        display: block;
        align-items: center;
        gap: 8px;
        overflow: hidden;
        flex: 1;
        padding: 0;
    }

    .logo_i_canal {
        display: flex;
        align-items: center;
        gap: 6px;
        align-items: center;
    }

    .logo_i_canal svg {
        width: 12px;
        height: 12px;
        color: #606060;
        fill: #606060;
        transform: translateY(-1.5px);
    }

    .verificat_icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.5px;
        background-color: #f2f2f2;
        transform: translateY(1px);
    }

    .verificat_icon svg {
        width: 100%;
        height: 100%;
        fill: #606060;
    }

    .nom_canal {
        padding-left: 6px;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        transform: translateY(-1px);
    }

    .text_canal {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
        justify-content: center;
        transform: translateY(1px);
    }

    .nom_i_verificat {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-right: 28px;
        margin-bottom: 1px;
    }

    .subs {
        font-size: 12px;
        color: #606060;
        padding-left: 6px;
        margin-top: 1px;
        transform: translateY(-2px);
    }

    .boto_unirme button,
    .boto_sub button {
        border: none;
        border-radius: 20px;
        min-height: 36px;
        line-height: 36px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Roboto", Arial, sans-serif;
        cursor: pointer;
    }

    .boto_unirme button {
        background-color: #f2f2f2;  
        padding: 0px 16.5px;
    }

    .boto_unirme button:hover {
        background-color: #e4e4e4;
    }


    .boto_sub button {
        background-color: #000;
        margin-left: 1.5px;
        padding: 0 16px;
        color: #fff;
    }

    .boto_sub button:hover {
        background-color: #333;
    }

    .boto_unirme, 
    .boto_sub {
        align-items: center;
        justify-content: center;
        display: flex;
        transform: translateY(0);                         /* Posiciona correctament els 2 botons */
    }


    .info_canal_dret {
        display: flex;
        align-items: center;
        gap: 8px;                                      /* Separació entre like, compartir i tres punts */
        flex-shrink: 0;
        margin-left: 25px;
        padding: 0;
        height: 40px;
        align-self: center;
        margin-top: 0;
    }

    .botons_interaccio {
        display: flex;
        border-radius: 20px;
        overflow: hidden;
        height: 36px;
        align-items: center;
        padding-left: 0;
    }

    button {
        border: none;
        background: transparent;
        font-family: inherit;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .btn-interaccio {
        display: flex;
        align-items: center;
        padding: 0 14px;
        background: #f2f2f2;
        white-space: nowrap;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        border-left: 10px;
    }

    .btn-interaccio:first-child svg {
        width: 48px;
        height: 48px;
        transform: translateY(0);
        margin-left: -4px;
    }

    .btn-interaccio:hover {
        background: #e6e6e6;
    }

    .icon-only {
        padding: 0 12px;
        width: 48px;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        border: none;
        background: #f2f2f2;
    }


    .btn-general {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 0 12px;
        background: #f2f2f2;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
        font-family: "Roboto", Arial, sans-serif;
        height: 36px;
        font-weight: 500;
        border: none;
    }

    .btn-general:hover {
        background: #e6e6e6;
    }

    .info_canal_dret svg {
        width: 20px;
        height: 20px;
        display: block;
    }

    svg {
        display: block;
    }

    .btn-interaccio.icon-only svg {
        padding: 0;
        width: 36px;
        height: 36px;
        justify-content: center;
    }

    .btn-general svg {
        width: 24px;
        height: 24px;
        display: block;
    }

    .btn-interaccio + .icon-only {
        border-left: 1px solid #ccc;
    }









/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    /* LINKS DELS VÍDEOS.                                             */

    .link_video {               
        display: flex;
        align-items: center;
        padding: 20px 12px;       /* Augmenta l'àrea clicable         */
        margin: -20px -12px;      /* Evita que el header es desquadri */
    }

